<div class=block-container>
	<h4 class=marketplace-section-heading>{{titleCard}}</h4>
	<div class="marketplace-apps marketplace-apps--row marketplace-apps--3-2-1">

		<div class="marketplace-appCard  marketplace-appCard--recommended">
			<div class=marketplace-appCard-innerContainer>
				<div   class=ng-isolate-scope><a class=marketplace-appSquareLogoIcon >
					<img alt="SiteVibes Icon Logo" title=SiteVibes [src]="exeCard.srcImage">
					</a>
				</div>
				<a class=appCard-linkOverlay  href="{{exeCard.href}}" ></a>
				<div class=appCard-content>
					<h3 class=appCard-heading>
						<a class="appCard-heading-link ng-binding" href="{{exeCard.href}}" >
							{{exeCard.title}}
						</a>
					</h3>
					<div class=appCard-categories>
						<div  include-children=false class="ng-isolate-scope appCard-categories"><a class="appCard-category ng-binding"  href="{{exeCard.href}}" >
							{{exeCard.market}}
							</a>
						</div>
					</div>
					<a class=appCard-description-link>
						<div  class=ng-isolate-scope>
							<div  class="marketplace-starRating-container marketplace-starRating-container--noReviews ng-scope">
								<p class="marketplace-reviewCount ng-binding">
									{{exeCard.reviews}}</p>
							</div>
						</div>
						<p class="appCard-description ng-binding ng-isolate-scope" >{{exeCard.description}}</p>
					</a><a class="type-small appCard-learnMoreLink">
						Learn more
					</a>

				</div>
			</div>
		</div>

   
	</div>
</div>