<div class="appHome-featuredApps-carousel-slide ng-scope slick-slide slick-active" data-slick-index=3 aria-hidden=false
    style=width:289px tabindex=-1 role=option aria-describedby=slick-slide03>
    <div app=app class="ng-isolate-scope marketplace-appCard marketplace-appCard--featured">
        <div class=marketplace-appCard-innerContainer>
            <a class=appCard-top href="#" tabindex=0>
                <div class=appCard-logoContainer>
                    <img class=appCard-logo src='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="259" height="158"><rect fill-opacity="0"/></svg>'>
                </div>
                <div class=ng-isolate-scope>
                    <div class="appCard-featured">
                        <svg width=44 height=40 viewBox="0 0 44 40" class=ng-scope>
                            <g fill=none fill-rule=evenodd>
                                <path fill=#FFD77E d="M0 0l44 40V0z"></path>
                                <path fill=#C57F0E
                                    d="M29.46 15.844l-3.993 2.028.763-4.296L23 10.535l4.464-.627L29.46 6l1.996 3.908 4.464.627-3.23 3.041.762 4.296z">
                                </path>
                            </g>
                        </svg>
                    </div>
                </div>
            </a>
            <div class=appCard-bottom>
                <div class=appCard-hoverContainer>
                    <div class=appCard-content style=position:relative>
                        <a class=appCard-linkOverlay [href]="exeCard.hrefDetail" tabindex=0></a>
                        <h3 class="appCard-heading appCard-heading-link ng-binding">
                            {{exeCard.heading}}
                        </h3>
                        <div class=appCard-categories>
                            <div include-children=false class="ng-isolate-scope appCard-categories"><a
                                    class="appCard-category ng-binding" [href]="exeCard.hrefCategory" tabindex=0>
                                    {{exeCard.category}}
                                </a>
                            </div>
                        </div>
                        <div class=appCard-ratingAndTier>
                            <div class=appCard-reviews>
                                <a [href]="exeCard.hrefReviews" tabindex=0>
                                    <div class=ng-isolate-scope>
                                        <div class="ng-scope ng-isolate-scope">
                                            <div class=starRating-container>
                                                <div class="starRating rating-top" style=width:100%>
                                                    <div class=ratingstar-orangeContainer>
                                                        <div class="icon icon-ratingstar ratingstar-orange ng-scope">
                                                        </div>
                                                        <div class="icon icon-ratingstar ratingstar-orange ng-scope">
                                                        </div>
                                                        <div class="icon icon-ratingstar ratingstar-orange ng-scope">
                                                        </div>
                                                        <div class="icon icon-ratingstar ratingstar-orange ng-scope">
                                                        </div>
                                                        <div class="icon icon-ratingstar ratingstar-orange ng-scope">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <a class="appCard-tierBadge" [href]="exeCard.hrefProveedor" tabindex=0>
                            <img title="Preferred tier logo" class=ng-scope
                                [src]="exeCard.imgsvg">
                        </a>
                    </div>
                    <div class="appCard-hoverContainer-content">
                        <a class="appCard-description ng-binding ng-isolate-scope" ellipsis [href]="exeCard.hrefDetail" tabindex=0>{{exeCard.description}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>