<div class="page program-details-page">
    <main id=main-content name=main-content tabindex=-1 aria-label=Contenido>
        <div class="container-fluid program-section d-flex align-items-center flex-column mb-0 program-enroll-wrapper communication">
            <h2 class="h2 section-title">{{descuento.header}}</h2>
            <div class="program-price d-flex flex-wrap">
                <span>
                    <span >Precio con descuento:</span>
                     ${{descuento.precioDescuento}}
                </span>
                <hr>
            </div>
            <div class=font-weight-normal><span><span >Precio original:</span> <s class=ml-2>${{descuento.precioOriginal}}</s></span><span class=ml-1></span></div>
            <div class=enroll-context>{{descuento.promocion}} </div>
            <div class=program-pursue-btn><a [href]="descuento.urlAction" class="enroll-btn btn btn-brand w-100" id=program-enrolling-now-section-btn><span>{{descuento.msjBtn}} </span></a>
                <div class=form-field><label class="register-emails d-flex" for=email-opt-in><input type=checkbox id=email-opt-in value=false class="email-opt-in mr-2" name=opt-in>
                        <div class=email-opt-in-terms>{{descuento.descripcion}} </div>
                    </label></div>
            </div>
        </div>

    </main>

</div>