<div class=main-content-wrapper>

    <div class=main-content>
        <div class=paid-course-landing-page__container>
            <div class=bottom-container>

                <div class="course-landing-page__main-content component-margin">
                    <span id=reviews class=in-page-offset-anchor style=display:none!important></span>
                    <div class=clp-component-render>
                        <div class=clp-component-render>
                            <div class=ud-component--course-landing-page-udlite--reviews data-skip-hydration=true data-component-props='{"averageRating":4.583384,"courseId":567828,"isFreeSEOExp":false,"ratingDistribution":[{"count":1645,"rating":1},{"count":3312,"rating":2},{"count":28921,"rating":3},{"count":128330,"rating":4},{"count":186149,"rating":5}],"page":"clp","showUserAvatar":true,"topReviewAttributes":[]}'>
                                <div data-purpose=course-reviews>
                                    <h2 class="udlite-heading-xl reviews-section--title--sOfZR">Student feedback</h2>
                                    <div data-purpose=ratings-and-reviews>
                                        <div class=reviews-section--stats-container--1AhaT>
                                            <div data-purpose=ratings-and-reviews>
                                                <div class=review-summary-widget--stats-container--yDnDk>
                                                    <div class="udlite-text-md review-summary-widget--average-container--3rNaQ">
                                                        <div data-purpose=average-rating class="udlite-heading-xxxl review-summary-widget--average-number--2Q0bz">4.6</div>
                                                        <div class=review-summary-widget--average-stars--YnbDS><span class="star-rating--star-wrapper--2eczq star-rating--large--3T9Yf"><span class=udlite-sr-only>Rating: 4.583384 out of 5</span><svg aria-hidden=true width=100% height=100% viewBox="0 0 70 14">
                                                                    <mask id=u14-star-rating-mask--2 data-purpose=star-rating-mask>
                                                                        <rect x=0 y=0 width=90% height=100% fill=white></rect>
                                                                    </mask>
                                                                    <g class=star-rating--star-filled--3D4Ee mask=url(#u14-star-rating-mask--2) data-purpose=star-filled>
                                                                        <use xlink:href=#icon-rating-star width=14 height=14 x=0></use>
                                                                        <use xlink:href=#icon-rating-star width=14 height=14 x=14></use>
                                                                        <use xlink:href=#icon-rating-star width=14 height=14 x=28></use>
                                                                        <use xlink:href=#icon-rating-star width=14 height=14 x=42></use>
                                                                        <use xlink:href=#icon-rating-star width=14 height=14 x=56></use>
                                                                    </g>
                                                                    <g fill=transparent class=star-rating--star-bordered--2QFon stroke-width=2 data-purpose=star-bordered>
                                                                        <use xlink:href=#icon-rating-star width=12 height=12 x=1 y=1></use>
                                                                        <use xlink:href=#icon-rating-star width=12 height=12 x=15 y=1></use>
                                                                        <use xlink:href=#icon-rating-star width=12 height=12 x=29 y=1></use>
                                                                        <use xlink:href=#icon-rating-star width=12 height=12 x=43 y=1></use>
                                                                        <use xlink:href=#icon-rating-star width=12 height=12 x=57 y=1></use>
                                                                    </g>
                                                                </svg></span></div>
                                                        <p class="udlite-heading-lg review-summary-widget--average-rating-text--2BT9O">Course Rating</p>
                                                    </div>
                                                    <div class=review-summary-widget--rates--3grhA><button type=button data-purpose=rate-gauge-5 class="udlite-btn udlite-btn-small udlite-btn-link udlite-heading-xs review-summary-widget--rates-row--X0MwR"><span class=review-summary-widget--rate-gauge--2nIhJ><span class=review-summary-widget--rate-gauge--bg--ajIt1><span class=review-summary-widget--rate-gauge--fill--20Pgq style=width:54%></span></span></span><span class="star-rating--star-wrapper--2eczq star-rating--large--3T9Yf"><span class=udlite-sr-only>Rating: 5 out of 5</span><svg aria-hidden=true width=100% height=100% viewBox="0 0 70 14" >
                                                                    <mask id=u14-star-rating-mask--3 data-purpose=star-rating-mask>
                                                                        <rect x=0 y=0 width=100% height=100% fill=white></rect>
                                                                    </mask>
                                                                    <g class=star-rating--star-filled--3D4Ee mask=url(#u14-star-rating-mask--3) data-purpose=star-filled>
                                                                        <use xlink:href=#icon-rating-star width=14 height=14 x=0></use>
                                                                        <use xlink:href=#icon-rating-star width=14 height=14 x=14></use>
                                                                        <use xlink:href=#icon-rating-star width=14 height=14 x=28></use>
                                                                        <use xlink:href=#icon-rating-star width=14 height=14 x=42></use>
                                                                        <use xlink:href=#icon-rating-star width=14 height=14 x=56></use>
                                                                    </g>
                                                                    <g fill=transparent class=star-rating--star-bordered--2QFon stroke-width=2 data-purpose=star-bordered>
                                                                        <use xlink:href=#icon-rating-star width=12 height=12 x=1 y=1></use>
                                                                        <use xlink:href=#icon-rating-star width=12 height=12 x=15 y=1></use>
                                                                        <use xlink:href=#icon-rating-star width=12 height=12 x=29 y=1></use>
                                                                        <use xlink:href=#icon-rating-star width=12 height=12 x=43 y=1></use>
                                                                        <use xlink:href=#icon-rating-star width=12 height=12 x=57 y=1></use>
                                                                    </g>
                                                                </svg></span><span class="udlite-text-sm review-summary-widget--rate-percent--2dtfO"><span data-purpose=percent-label>54%</span></span><span class=review-summary-widget--rate-clear--3cRwq></span></button><button type=button data-purpose=rate-gauge-4 class="udlite-btn udlite-btn-small udlite-btn-link udlite-heading-xs review-summary-widget--rates-row--X0MwR"><span class=review-summary-widget--rate-gauge--2nIhJ><span class=review-summary-widget--rate-gauge--bg--ajIt1><span class=review-summary-widget--rate-gauge--fill--20Pgq style=width:37%></span></span></span><span class="star-rating--star-wrapper--2eczq star-rating--large--3T9Yf"><span class=udlite-sr-only>Rating: 4 out of 5</span><svg aria-hidden=true width=100% height=100% viewBox="0 0 70 14" >
                                                                    <mask id=u14-star-rating-mask--4 data-purpose=star-rating-mask>
                                                                        <rect x=0 y=0 width=80% height=100% fill=white></rect>
                                                                    </mask>
                                                                    <g class=star-rating--star-filled--3D4Ee mask=url(#u14-star-rating-mask--4) data-purpose=star-filled>
                                                                        <use xlink:href=#icon-rating-star width=14 height=14 x=0></use>
                                                                        <use xlink:href=#icon-rating-star width=14 height=14 x=14></use>
                                                                        <use xlink:href=#icon-rating-star width=14 height=14 x=28></use>
                                                                        <use xlink:href=#icon-rating-star width=14 height=14 x=42></use>
                                                                        <use xlink:href=#icon-rating-star width=14 height=14 x=56></use>
                                                                    </g>
                                                                    <g fill=transparent class=star-rating--star-bordered--2QFon stroke-width=2 data-purpose=star-bordered>
                                                                        <use xlink:href=#icon-rating-star width=12 height=12 x=1 y=1></use>
                                                                        <use xlink:href=#icon-rating-star width=12 height=12 x=15 y=1></use>
                                                                        <use xlink:href=#icon-rating-star width=12 height=12 x=29 y=1></use>
                                                                        <use xlink:href=#icon-rating-star width=12 height=12 x=43 y=1></use>
                                                                        <use xlink:href=#icon-rating-star width=12 height=12 x=57 y=1></use>
                                                                    </g>
                                                                </svg></span><span class="udlite-text-sm review-summary-widget--rate-percent--2dtfO"><span data-purpose=percent-label>37%</span></span><span class=review-summary-widget--rate-clear--3cRwq></span></button><button type=button data-purpose=rate-gauge-3 class="udlite-btn udlite-btn-small udlite-btn-link udlite-heading-xs review-summary-widget--rates-row--X0MwR"><span class=review-summary-widget--rate-gauge--2nIhJ><span class=review-summary-widget--rate-gauge--bg--ajIt1><span class=review-summary-widget--rate-gauge--fill--20Pgq style=width:8%></span></span></span><span class="star-rating--star-wrapper--2eczq star-rating--large--3T9Yf"><span class=udlite-sr-only>Rating: 3 out of 5</span><svg aria-hidden=true width=100% height=100% viewBox="0 0 70 14" >
                                                                    <mask id=u14-star-rating-mask--5 data-purpose=star-rating-mask>
                                                                        <rect x=0 y=0 width=60% height=100% fill=white></rect>
                                                                    </mask>
                                                                    <g class=star-rating--star-filled--3D4Ee mask=url(#u14-star-rating-mask--5) data-purpose=star-filled>
                                                                        <use xlink:href=#icon-rating-star width=14 height=14 x=0></use>
                                                                        <use xlink:href=#icon-rating-star width=14 height=14 x=14></use>
                                                                        <use xlink:href=#icon-rating-star width=14 height=14 x=28></use>
                                                                        <use xlink:href=#icon-rating-star width=14 height=14 x=42></use>
                                                                        <use xlink:href=#icon-rating-star width=14 height=14 x=56></use>
                                                                    </g>
                                                                    <g fill=transparent class=star-rating--star-bordered--2QFon stroke-width=2 data-purpose=star-bordered>
                                                                        <use xlink:href=#icon-rating-star width=12 height=12 x=1 y=1></use>
                                                                        <use xlink:href=#icon-rating-star width=12 height=12 x=15 y=1></use>
                                                                        <use xlink:href=#icon-rating-star width=12 height=12 x=29 y=1></use>
                                                                        <use xlink:href=#icon-rating-star width=12 height=12 x=43 y=1></use>
                                                                        <use xlink:href=#icon-rating-star width=12 height=12 x=57 y=1></use>
                                                                    </g>
                                                                </svg></span>
                                                                <span class="udlite-text-sm review-summary-widget--rate-percent--2dtfO"><span data-purpose=percent-label>8%</span></span><span class=review-summary-widget--rate-clear--3cRwq></span></button><button type=button data-purpose=rate-gauge-2 class="udlite-btn udlite-btn-small udlite-btn-link udlite-heading-xs review-summary-widget--rates-row--X0MwR"><span class=review-summary-widget--rate-gauge--2nIhJ><span class=review-summary-widget--rate-gauge--bg--ajIt1><span class=review-summary-widget--rate-gauge--fill--20Pgq style=width:1%></span></span></span><span class="star-rating--star-wrapper--2eczq star-rating--large--3T9Yf"><span class=udlite-sr-only>Rating: 2 out of 5</span><svg aria-hidden=true width=100% height=100% viewBox="0 0 70 14">
                                                                    <mask id=u14-star-rating-mask--6 data-purpose=star-rating-mask>
                                                                        <rect x=0 y=0 width=40% height=100% fill=white></rect>
                                                                    </mask>
                                                                    <g class=star-rating--star-filled--3D4Ee mask=url(#u14-star-rating-mask--6) data-purpose=star-filled>
                                                                        <use xlink:href=#icon-rating-star width=14 height=14 x=0></use>
                                                                        <use xlink:href=#icon-rating-star width=14 height=14 x=14></use>
                                                                        <use xlink:href=#icon-rating-star width=14 height=14 x=28></use>
                                                                        <use xlink:href=#icon-rating-star width=14 height=14 x=42></use>
                                                                        <use xlink:href=#icon-rating-star width=14 height=14 x=56></use>
                                                                    </g>
                                                                    <g fill=transparent class=star-rating--star-bordered--2QFon stroke-width=2 data-purpose=star-bordered>
                                                                        <use xlink:href=#icon-rating-star width=12 height=12 x=1 y=1></use>
                                                                        <use xlink:href=#icon-rating-star width=12 height=12 x=15 y=1></use>
                                                                        <use xlink:href=#icon-rating-star width=12 height=12 x=29 y=1></use>
                                                                        <use xlink:href=#icon-rating-star width=12 height=12 x=43 y=1></use>
                                                                        <use xlink:href=#icon-rating-star width=12 height=12 x=57 y=1></use>
                                                                    </g>
                                                                </svg></span><span class="udlite-text-sm review-summary-widget--rate-percent--2dtfO"><span data-purpose=percent-label>1%</span></span><span class=review-summary-widget--rate-clear--3cRwq></span></button><button type=button data-purpose=rate-gauge-1 class="udlite-btn udlite-btn-small udlite-btn-link udlite-heading-xs review-summary-widget--rates-row--X0MwR"><span class=review-summary-widget--rate-gauge--2nIhJ><span class=review-summary-widget--rate-gauge--bg--ajIt1><span class=review-summary-widget--rate-gauge--fill--20Pgq style=width:0%></span></span></span><span class="star-rating--star-wrapper--2eczq star-rating--large--3T9Yf"><span class=udlite-sr-only>Rating: 1 out of 5</span><svg aria-hidden=true width=100% height=100% viewBox="0 0 70 14" >
                                                                    <mask id=u14-star-rating-mask--7 data-purpose=star-rating-mask>
                                                                        <rect x=0 y=0 width=20% height=100% fill=white></rect>
                                                                    </mask>
                                                                    <g class=star-rating--star-filled--3D4Ee mask=url(#u14-star-rating-mask--7) data-purpose=star-filled>
                                                                        <use xlink:href=#icon-rating-star width=14 height=14 x=0></use>
                                                                        <use xlink:href=#icon-rating-star width=14 height=14 x=14></use>
                                                                        <use xlink:href=#icon-rating-star width=14 height=14 x=28></use>
                                                                        <use xlink:href=#icon-rating-star width=14 height=14 x=42></use>
                                                                        <use xlink:href=#icon-rating-star width=14 height=14 x=56></use>
                                                                    </g>
                                                                    <g fill=transparent class=star-rating--star-bordered--2QFon stroke-width=2 data-purpose=star-bordered>
                                                                        <use xlink:href=#icon-rating-star width=12 height=12 x=1 y=1></use>
                                                                        <use xlink:href=#icon-rating-star width=12 height=12 x=15 y=1></use>
                                                                        <use xlink:href=#icon-rating-star width=12 height=12 x=29 y=1></use>
                                                                        <use xlink:href=#icon-rating-star width=12 height=12 x=43 y=1></use>
                                                                        <use xlink:href=#icon-rating-star width=12 height=12 x=57 y=1></use>
                                                                    </g>
                                                                </svg></span><span class="udlite-text-sm review-summary-widget--rate-percent--2dtfO"><span data-purpose=percent-label>&lt; 1%</span></span><span class=review-summary-widget--rate-clear--3cRwq></span></button></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=reviews-section--sub-title--3Lxry>
                                            <h2 class=udlite-heading-xl>Reviews</h2>
                                            <div class=reviews-section--controls--2xAkI>
                                                <div class=reviews-section--search-filter--1hXkA>
                                                    <div class=udlite-form-group><label class="udlite-sr-only udlite-form-label udlite-heading-sm" for=u14-form-group--8>Search reviews</label>
                                                        <form class=text-input-form--text-input-form--1L2vx><input placeholder="Search reviews" id=u14-form-group--8 class="udlite-text-input udlite-text-input-large udlite-text-md" value><button type=submit class="udlite-btn udlite-btn-large udlite-btn-primary udlite-heading-md udlite-btn-icon udlite-btn-icon-large text-input-form--submit-button--2dkoG"><svg aria-label="Submit search" focusable=false class="udlite-icon udlite-icon-medium">
                                                                    <use xlink:href=#icon-search></use>
                                                                </svg></button></form>
                                                    </div>
                                                </div>
                                                <div class=reviews-section--ratings-filter--fvGMy>
                                                    <div class=udlite-form-group><label class="udlite-sr-only udlite-form-label udlite-heading-sm" for=u14-form-group--9>Filter ratings</label>
                                                        <div class="udlite-select-container udlite-select-container-large"><select required id=u14-form-group--9 class="udlite-select udlite-text-md">
                                                                <option value selected>All ratings
                                                                <option value=5>Five stars
                                                                <option value=4>Four stars
                                                                <option value=3>Three stars
                                                                <option value=2>Two stars
                                                                <option value=1>One star
                                                            </select>
                                                            <div class="udlite-select-icon-container udlite-select-icon-right"><svg aria-hidden=true focusable=false class="udlite-icon udlite-icon-small udlite-icon-color-neutral">
                                                                    <use xlink:href=#icon-expand></use>
                                                                </svg></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                <div data-purpose=landing-page-review-list>


                                                    <div class=reviews-section--review-container--3F3NE>
                                                        <div class=individual-review--individual-review--1AJi4 data-purpose=individual-review>
                                                            <div class=individual-review--individual-review-author-avatar--3k5Ty>
                                                                <div data-purpose=avatar aria-hidden=true class="udlite-avatar udlite-heading-md" style=width:4.8rem;height:4.8rem;background:rgb(77,171,101)>GB</div>
                                                            </div>
                                                            <div class=individual-review--individual-review-content--en4c7>
                                                                <div class=individual-review--individual-review__name-container--YY9yu>
                                                                    <div class="udlite-heading-md individual-review--individual-review__name--3slEE" data-purpose=review-detail-user-name>German Borisevich</div>
                                                                </div>
                                                                <div class=individual-review--individual-review__detail--3qCWi><span class="star-rating--star-wrapper--2eczq star-rating--large--3T9Yf"><span class=udlite-sr-only>Rating: 3.5 out of 5</span><svg aria-hidden=true width=100% height=100% viewBox="0 0 70 14" fill=none>
                                                                            <mask id=u422-star-rating-mask--46 data-purpose=star-rating-mask>
                                                                                <rect x=0 y=0 width=70% height=100% fill=white></rect>
                                                                            </mask>
                                                                            <g class=star-rating--star-filled--3D4Ee mask=url(#u422-star-rating-mask--46) data-purpose=star-filled>
                                                                                <use xlink:href=#icon-rating-star width=14 height=14 x=0></use>
                                                                                <use xlink:href=#icon-rating-star width=14 height=14 x=14></use>
                                                                                <use xlink:href=#icon-rating-star width=14 height=14 x=28></use>
                                                                                <use xlink:href=#icon-rating-star width=14 height=14 x=42></use>
                                                                                <use xlink:href=#icon-rating-star width=14 height=14 x=56></use>
                                                                            </g>
                                                                            <g fill=transparent class=star-rating--star-bordered--2QFon stroke-width=2 data-purpose=star-bordered>
                                                                                <use xlink:href=#icon-rating-star width=12 height=12 x=1 y=1></use>
                                                                                <use xlink:href=#icon-rating-star width=12 height=12 x=15 y=1></use>
                                                                                <use xlink:href=#icon-rating-star width=12 height=12 x=29 y=1></use>
                                                                                <use xlink:href=#icon-rating-star width=12 height=12 x=43 y=1></use>
                                                                                <use xlink:href=#icon-rating-star width=12 height=12 x=57 y=1></use>
                                                                            </g>
                                                                        </svg></span><span class="udlite-text-sm individual-review--individual-review__detail-date--DEkVn">2 months ago</span></div>
                                                                <div class=show-more--container--1QLmn><span id=u422-show-more--47 data-type=checkbox data-checked style=display:none></span>
                                                                    <div class="show-more--content--isg5c show-more--with-gradient--2abmN" style=max-height:100px>
                                                                        <div>
                                                                            <div class="udlite-text-sm individual-review--individual-review__comment--2o94n" data-purpose=review-comment-content>
                                                                                <p>The course covers all the very basics of Python 3, plus some useful functionalities of it when Python is used with Jupyter. Also, the course touches some external libraries, after passing which, ideas of practical implementation of your Python skills may start occur in your mind.
                                                                                <p>However, I found these following cons of the course:
                                                                                <p>- It really touches ONLY language, i.e. not Computer Science itself. You most likely start to understand how the language works but without real fundamentals behind it.
                                                                                <p>- Especially OOP part, it does won't teach you how you should THINK in order to code in OOP paradigm. For me, that was critical. And because of this I dropped this course multiple times. Only after A LOT of googling, I started to comprehend this paradigm.
                                                                                <p>- Sometimes, I caught the feeling that I was just following what Jose doing. In some parts, this course won't teach you, but just gives you 'mechanical' exercises passing which you don't think too much.
                                                                                <p>- Taking into the account aforementioned, you MUST google a lot and READ documentations a lot in order to grab deep understanding of programming (not Python itself).
                                                                                <p>Despite so large 'cons' lists, I really recommend this course. It brings real value for its price. And with a good motivation it may push you to learn programming further.
                                                                                <p>Thanks, Jose, for the course. It was a real pleasure following it. You did a great job! :)</p>
                                                                            </div>
                                                                        </div>
                                                                    </div><button type=button class="udlite-btn udlite-btn-medium udlite-btn-ghost udlite-heading-sm show-more--focusable-label--14fP5" data-css-toggle-id=u422-show-more--47><span><span class=show-more--show-more--3ve3e>Show more</span><span class="show-more--show-less--3eSCX sf-hidden">Show less</span></span><svg aria-hidden=true focusable=false class="udlite-icon udlite-icon-small udlite-icon-color-neutral show-more--show-more--3ve3e">
                                                                            <use xlink:href=#icon-expand></use>
                                                                        </svg><svg aria-hidden=true focusable=false class="udlite-icon udlite-icon-small udlite-icon-color-neutral show-more--show-less--3eSCX">
                                                                            <use xlink:href=#icon-collapse></use>
                                                                        </svg></button>
                                                                </div>
                                                                <div class=individual-review--individual-review__feedback--3MjZc>
                                                                    <div>
                                                                        <p class=review-feedback--review-feedback__title--1kbbZ data-purpose=helpfulness-prompt>Was this review helpful?
                                                                        <div class=review-feedback--review-feedback__actions--3WPPm><button type=button value=yes class="udlite-btn udlite-btn-medium udlite-btn-secondary udlite-btn-round udlite-heading-sm udlite-btn-icon udlite-btn-icon-medium udlite-btn-icon-round review-feedback--review-feedback__actions-thumb_up--1TdU7 helpful-button--icon-button-wrapper--1H_4e"><svg data-purpose=icon aria-label="Mark as helpful" focusable=false class="udlite-icon udlite-icon-small helpful-button--icon--2CtKB">
                                                                                    <use xlink:href=#icon-thumb-up></use>
                                                                                </svg></button><button type=button value=no class="udlite-btn udlite-btn-medium udlite-btn-secondary udlite-btn-round udlite-heading-sm udlite-btn-icon udlite-btn-icon-medium udlite-btn-icon-round review-feedback--review-feedback__actions-thumb_down--sQ2lz helpful-button--icon-button-wrapper--1H_4e"><svg data-purpose=icon aria-label="Mark as unhelpful" focusable=false class="udlite-icon udlite-icon-small helpful-button--icon--2CtKB">
                                                                                    <use xlink:href=#icon-thumb-down></use>
                                                                                </svg></button><button type=button data-purpose=report-abuse-link class="udlite-btn udlite-btn-medium udlite-btn-ghost udlite-heading-sm udlite-text-sm report-abuse--report-abuse-button--J2v1l"><span>Report</span></button></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class=reviews-section--reviews-show-more--2cJQg data-purpose=show-more-review-button-wrapper><button type=button data-purpose=show-more-review-button class="udlite-btn udlite-btn-medium udlite-btn-secondary udlite-heading-sm"><span>See more reviews</span></button></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>
<div>
    <svg aria-hidden=true style=position:absolute;width:0;height:0;overflow:hidden  >
        <defs>

            <symbol id=icon-expand viewBox="0 0 24 24">
                <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"></path>
            </symbol>

            <symbol id=icon-person viewBox="0 0 24 24">
                <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"></path>
            </symbol>

            <symbol id=icon-search viewBox="0 0 24 24">
                <path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0016 9.5 6.5 6.5 0 109.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
            </symbol>

        </defs>
    </svg>
    <svg aria-hidden=true style=position:absolute;width:0;height:0;overflow:hidden  >
        <defs>
            <symbol id=icon-thumb-down viewBox="0 0 24 24">
                <path d="M15 3H6c-.83 0-1.54.5-1.84 1.22l-3.02 7.05c-.09.23-.14.47-.14.73v2c0 1.1.9 2 2 2h6.31l-.95 4.57-.03.32c0 .41.17.79.44 1.06L9.83 23l6.59-6.59c.36-.36.58-.86.58-1.41V5c0-1.1-.9-2-2-2zm0 12l-4.34 4.34L12 14H3v-2l3-7h9v10zm4-12h4v12h-4V3z"></path>
            </symbol>
            <symbol id=icon-thumb-up viewBox="0 0 24 24">
                <path d="M9 21h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.58 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2zM9 9l4.34-4.34L12 10h9v2l-3 7H9V9zM1 9h4v12H1V9z"></path>
            </symbol>


            <symbol id=icon-rating-star viewBox="0 0 24 24">
                <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27z"></path>
            </symbol>



        </defs>
    </svg>

</div>
