<div id="PageContainer">
    <main role=main id=Main>

        <section class="section background-light color-ink section--tight ui-app-store-hero ui-app-store-hero--type-home">
            <div class=grid>
                <div class=grid__item>
                    <div class=ui-app-store-hero__container>
                        <h3 style="display:none!important">Every business is unique. Find the app that’s right for yours.</h3>
                        <form >
                            <label class=marketing-input-wrapper style="display:none!important">
                                <button type=submit class="ui-search-suggestions__button hero-search-form__button" style="display:none!important">
                                <svg class="icon ui-search-suggestions__button-icon hero-search-form__button-icon" aria-labelledby=hero-search-form_buttonTitle >
                                <title id=hero-search-form_buttonTitle>Search</title>
                                    </svg>
                                </button>
                            </label>
                        </form>
                        <div class="ui-app-store-hero__featured-apps featured-app-group">
                            <h4 class="featured-app-group__header heading--3">
                                Staff picks
                            </h4>
                            <h4 class=featured-app-group__subheading>
                                Outstanding apps we’re excited about now.
                            </h4>
                            <div class="featured-app-group__container featured-app-group__container--4-nodes" style=transform:translate3d(0px,0px,0px)>
                                    <app-shopify-detail></app-shopify-detail>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </main>

</div>