<section class="spza_group carouselActive">
	<div class="carouselWrapper">
		
		<div class="spza_pager carouselContent">

			<div class="spza_tileWrapper" >
				<a class=tileLink
					href="{{dataCard.href}}"
					tabindex=-1>

					<div aria-hidden=true>
						<div class="topBackground">
							<svg aria-hidden=true>
							<defs>
								<filter id="blur-WA104381712">
									<fegaussianblur stdDeviation=50></fegaussianblur>
								</filter>
							</defs>
							<image aria-hidden=true tabindex=-1 width=400 height=400
								
								src="dataCard.srcFile"
								filter=url(#blur-WA104381712)></image>
						</svg>

						</div>
						<div>
							<div class=tileThumbnail>
								<div>
									<img class="thumbnail ready"
									[src]="dataCard.srcFile">
									</div>
							</div>
						</div>
					</div>

					<div class=tileContent>
						<h4 id=label-WA104381712_1 class="c-heading6 title"
							title="{{dataCard.tittle}}">{{dataCard.tittle}} </h4>
						<div class=middleSection>
						
							
							<div class=providerSection>
								<h4 id=labelBy-WA104381712 class="c-subheading-6 provider">{{dataCard.creator}}</h4>
								<div class=built-for-section>
									<div class=built-for-outer-wrapper>
										<div class=built-for-container>
											<div class=built-for-product-container>
												<div class=built-for-product-icon-wrapper>
													<div class=built-for-icon>
														<div class="ms-BrandIcon-svg--icon16 product-icon-12 ms-BrandIcon--outlook">
														</div>
													</div>
												</div><span
													class=built-for-product-title>{{dataCard.otherApp}} </span>
											</div>
										</div>
									</div>
								</div>
							</div>

							<h5 tabindex=0 id=desc-WA104381712 class="c-paragraph-4 description"
							style=-webkit-line-clamp:2;max-height:30px> {{dataCard.description}} </h5>
						<div class=aveRatings itemprop=aggregateRating >
							<div class=sr-only>3.6 out of 5 stars</div>
							<div class=detailsRating aria-hidden=true>
								<div tabindex=0 aria-label="3.6 out of 5 stars user rating"
									class="c-rating f-community-rated f-aggregate"><span
										class="f-full c-glyph" aria-hidden=true></span><span
										class="f-full c-glyph" aria-hidden=true></span><span
										class="f-full c-glyph" aria-hidden=true></span><span
										class="f-none f-half c-glyph"
										aria-hidden=true></span><span class="f-none c-glyph"
										aria-hidden=true></span></div>
							</div>
							<div class=ratingsCount tabindex=0
								aria-label="394 users rated this App">({{dataCard.cantResena}})</div>
						</div>

						<div id=descPrice-WA104381712 class=startingPrice>
							<div class=additionalPurchaseText>{{dataCard.subdescription}}
								required</div>
						</div>

						</div>
					</div>





					<div id=labelIndexString-WA104381712_1 style=visibility:hidden>1 out of 10</div>
				</a>



				<div class=tileFooter><button class="c-button f-lightweight getButton" type=button
						name=button data-bi-id=CTA_Get data-bi-name=WA104381712 data-bi-type
						data-bi-area="App Tile">Get it now</button>
				</div>

			</div>

		</div>
		
	</div>
</section>